<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
		<!--   <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content"> -->
		<link rel="shortcut icon" href="" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<script src="https://maps.googleapis.com/maps/api/js?region=GB"></script>
		<title>Travel-App</title>
	</head>

	<body>
		<nav class="navbar" style="background-color: currentcolor;">
			<a class="navbar-brand" href="#">
				Travel-app
			</a>
		</nav>
		<h1>hello Manpreet</h1>
		<div>
			hello
		</div>
	</body>
</html>
